<h1 class="text-center">Hãy tạo khóa học cho riêng bạn</h1>
<form action="/courses/store" method="post" class="mt-5 d-flex flex-column gap-3">
    <input type="text" name="name" placeholder="Please enter name...">
    <input type="text" name="description" placeholder="Please enter description...">
    <button>Submit</button>
</form>